.item-detail-left {
    width: 46%;
    float: left;
}

.item-detail-right {
    width: 48%;
    float: right;
    margin-right: 2%;
}

.item-detail-icon {
    width: 100%;
    height: 30rem;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% auto;
}

.detail-right-section {
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
}

.detail-headline {
    font-size: 1.5rem;
    font-weight: 700;
}

.detail-description {
    color: #636362;
}

.detail-price {
    font-size: 2rem;
}

.add-basket-button {
    width: 50%;
    padding: 1rem;
    float: right;
    cursor: pointer;
    background-color: #C9644B;
    color: #fff;
    font-size: 1rem;
    border: 2px solid #000;
    outline: 0;
    border-radius: .2rem;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    transition: border-color .5s ease 0s, background-color .5s ease 0s;
    -webkit-transition: border-color .5s ease 0s, background-color .5s ease 0s;
    -o-transition: border-color .5s ease 0s, background-color .5s ease 0s;
    -moz-transition: border-color .5s ease 0s, background-color .5s ease 0s;
}

.add-basket-button:hover {
    border-color: #C9644B;
    background-color: #000;
}

.item-detail-wrapper, .good-comments-wrapper {
    width: 100%;
    float: left;
}

.good-comments-wrapper {
    margin-bottom: 20px;
}